In [1]:
import tensorflow as tf
import keras
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import nltk
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer
from keras.layers import Dense, Input, Flatten
from keras.layers import Reshape, Dropout, Concatenate
from keras.layers import Conv2D, MaxPool2D, Embedding
from keras.models import Model
import os
import json
from json2html import *
from IPython.core.display import display, HTML
from tqdm import tqdm_notebook
%matplotlib inline

Using TensorFlow backend.

In [2]:
print(os.getcwd())
with open(os.getcwd()+'\data\\train.json',encoding="utf8") as f:
   data = json.load(f)

D:\ML Projects\DeepLearning_Coding_Task\NLU

In [41]:
df = pd.DataFrame(data)
df=df.T
df = df[['text','slots']]

In [44]:
lst=df['slots'].tolist()
l = []
[[l.append(x)  for x in list(i.keys())] for i in lst]
        
l = set(l)

In [45]:
l

{'album',
 'artist',
 'best_rating',
 'city',
 'condition_description',
 'condition_temperature',
 'country',
 'cuisine',
 'current_location',
 'entity_name',
 'facility',
 'genre',
 'geographic_poi',
 'location_name',
 'movie_name',
 'movie_type',
 'music_item',
 'object_location_type',
 'object_name',
 'object_part_of_series_type',
 'object_select',
 'object_type',
 'party_size_description',
 'party_size_number',
 'playlist',
 'playlist_owner',
 'poi',
 'rating_unit',
 'rating_value',
 'restaurant_name',
 'restaurant_type',
 'served_dish',
 'service',
 'sort',
 'spatial_relation',
 'state',
 'timeRange',
 'track',
 'year'}

In [39]:
table=df.to_html()
with open("Data.html", "w", encoding="utf-8") as file:
    file.write(table)